<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pub -->
      <package
            uri="http://www.mimacom.com/ddd/pub/pub"
            class="com.mimacom.ddd.pub.pub.PubPackage"
            genModel="model/pub.xcore"/>
   </extension>
   
   <extension-point id="diagramProvider" 
   	 name="Diagram Provider" 
    	schema="schema/diagramProvider.exsd"/>
    	
   <extension-point id="tableProvider" 
   	 name="Table Provider" 
    	schema="schema/tableProvider.exsd"/>
</plugin>
