<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dim.typeDiagram.png"
            diagramName="Domain Information Structure (PNG)"
            diagramType="informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.base.DInformationModel"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <renderer
            id="dim.typeDiagram.svg"
            diagramName="Domain Information Structure (SVG)"
            diagramType="informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.base.DInformationModel"
            outputFileFormat="SVG"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererSVGExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <renderer
            id="dim.typeDiagram.eps"
            diagramName="Domain Information Structure (EPS)"
            diagramType="informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.base.DInformationModel"
            outputFileFormat="EPS"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererEPSExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <diagramType
            id="informationStructure"
            name="Information Structure">
      </diagramType>
   </extension>
   
   <extension
         point="com.mimacom.ddd.pub.pub.tableProvider">
      <renderer
            id="dim.allTypesOverviewTable"
            tableName="All Types (Overview)"
            tableType="typesOverview"
            tableRootClass="com.mimacom.ddd.dm.base.DInformationModel"
            rendererClass="com.mimacom.ddd.dm.dim.tableProvider.DimAllTypesTableRendererExtensionFactory:com.mimacom.ddd.dm.dim.tableProvider.DimAllTypesTableRenderer">
      </renderer>
      
      <tableType
            id="typesOverview"
            name="Descriptions of Types">
      </tableType>
      
      <renderer
            id="dim.allFeaturesOverviewTable"
            tableName="All Features (Overview)"
            tableType="featuresOverview"
            tableRootClass="com.mimacom.ddd.dm.base.DInformationModel"
            rendererClass="com.mimacom.ddd.dm.dim.tableProvider.DimAllFeaturesTableRendererExtensionFactory:com.mimacom.ddd.dm.dim.tableProvider.DimAllFeaturesTableRenderer">
      </renderer>
      
      <tableType
            id="featuresOverview"
            name="Descriptions of Features">
      </tableType>
   </extension>

</plugin>
