<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dim.informationStructure.png"
            diagramName="Domain Information Structure (PNG)"
            diagramType="dim.informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.dim.DomainInformationModel"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <renderer
            id="dim.informationStructure.svg"
            diagramName="Domain Information Structure (SVG)"
            diagramType="dim.informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.dim.DomainInformationModel"
            outputFileFormat="SVG"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererSVGExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <renderer
            id="dim.informationStructure.eps"
            diagramName="Domain Information Structure (EPS)"
            diagramType="dim.informationStructure"
            diagramRootClass="com.mimacom.ddd.dm.dim.DomainInformationModel"
            outputFileFormat="EPS"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererEPSExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRenderer">
      </renderer>
      
      <diagramType
            id="dim.informationStructure"
            name="Domain Information Structure">
      </diagramType>
   </extension>
   
   <extension
         point="com.mimacom.ddd.pub.pub.tableProvider">
      <renderer
            id="dim.allTypesOverviewTable"
            tableName="All Types (Overview)"
            tableType="dim.typesOverview"
            tableRootClass="com.mimacom.ddd.dm.dim.DomainInformationModel"
            rendererClass="com.mimacom.ddd.dm.dim.tableProvider.DimAllTypesTableRendererExtensionFactory:com.mimacom.ddd.dm.dim.tableProvider.DimAllTypesTableRenderer">
      </renderer>
      
      <tableType
            id="dim.typesOverview"
            name="Descriptions of Types">
      </tableType>
      
      <renderer
            id="dim.allFeaturesOverviewTable"
            tableName="All Features (Overview)"
            tableType="dim.featuresOverview"
            tableRootClass="com.mimacom.ddd.dm.dim.DomainInformationModel"
            rendererClass="com.mimacom.ddd.dm.dim.tableProvider.DimAllFeaturesTableRendererExtensionFactory:com.mimacom.ddd.dm.dim.tableProvider.DimAllFeaturesTableRenderer">
      </renderer>
      
      <tableType
            id="dim.featuresOverview"
            name="Descriptions of Features">
      </tableType>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dim -->
      <package
            uri="http://www.mimacom.com/ddd/dm/dim"
            class="com.mimacom.ddd.dm.dim.DimPackage"
            genModel="model/dim.genmodel"/>
   </extension>

</plugin>
