<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dim.typeDiagram.png"
            diagramName="Domain Information Structure (PNG)"
            diagramType="informationStructure"
            modelClass="com.mimacom.ddd.dm.base.DInformationModel"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dim.diagramProvider.DimTypeDiagramRendererPNG">
      </renderer>
      <diagramType
            id="informationStructure"
            name="Information Structure">
      </diagramType>
   </extension>

</plugin>
