<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sus -->
      <package
            uri="http://www.mimacom.com/ddd/sm/sus"
            class="com.mimacom.ddd.sm.sus.SusPackage"
            genModel="model/sus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sus -->
      <package
            uri="http://www.mimacom.com/ddd/dm/dem"
            class="dem.DemPackage"
            genModel="model/sus.genmodel"/>
   </extension>

</plugin>
