<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mimacom.com/ddd/im/generator/Generator"
			class = "com.mimacom.ddd.im.generator.generator.GeneratorPackage"
			genModel = "model/generated/Generator.genmodel" />
	</extension>
</plugin>
