<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dem -->
      <package
            uri="http://www.mimacom.com/ddd/dm/dem"
            class="com.mimacom.ddd.dm.dem.DemPackage"
            genModel="model/dem.genmodel"/>
   </extension>
   
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dem.eventUseCase.png"
            diagramName="Domain Event Use Case (PNG)"
            diagramType="dem.eventUseCase"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.eventUseCase.svg"
            diagramName="Domain Event Use Case (SVG)"
            diagramType="dem.eventUseCase"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            outputFileFormat="SVG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRendererSVGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.eventUseCase.eps"
            diagramName="Domain Event Use Case (EPS)"
            diagramType="dem.eventUseCase"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            outputFileFormat="EPS"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRendererEPSExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventDiagramRenderer">
      </renderer>
      
      <diagramType
            id="dem.eventUseCase"
            name="Domain Event Use Case">
      </diagramType>
   </extension>
   
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dem.eventUseCaseOverview.png"
            diagramName="Domain Event Use Case Overview (PNG)"
            diagramType="dem.eventUseCaseOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemEventsOverviewModel"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.eventUseCaseOverview.svg"
            diagramName="Domain Event Use Case Overview (SVG)"
            diagramType="dem.eventUseCaseOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemEventsOverviewModel"
            outputFileFormat="SVG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRendererSVGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.eventUseCaseOverview.eps"
            diagramName="Domain Event Use Case Overview (EPS)"
            diagramType="dem.eventUseCaseOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemEventsOverviewModel"
            outputFileFormat="EPS"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRendererEPSExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemEventsOverviewDiagramRenderer">
      </renderer>
      
      <diagramType
            id="dem.eventUseCaseOverview"
            name="Domain Event Use Case Overview">
      </diagramType>
   </extension>
   
   <extension
         point="com.mimacom.ddd.pub.pub.diagramProvider">
      <renderer
            id="dem.actorsOverview.png"
            diagramName="Domain Actors Overview (PNG)"
            diagramType="dem.actorsOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemActorModel"
            outputFileFormat="PNG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRendererPNGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.actorsOverview.svg"
            diagramName="Domain Actors Overview (SVG)"
            diagramType="dem.actorsOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemActorModel"
            outputFileFormat="SVG"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRendererSVGExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRenderer">
      </renderer>
      
      <renderer
            id="dem.actorsOverview.eps"
            diagramName="Domain Actors Overview (EPS)"
            diagramType="dem.actorsOverview"
            diagramRootClass="com.mimacom.ddd.dm.dem.DemActorModel"
            outputFileFormat="EPS"
            rendererClass="com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRendererEPSExtensionFactory:com.mimacom.ddd.dm.dem.diagramProvider.DemActorsOverviewDiagramRenderer">
      </renderer>
      
      <diagramType
            id="dem.actorsOverview"
            name="Domain Actors Overview">
      </diagramType>
   </extension>

   <extension
         point="com.mimacom.ddd.pub.pub.tableProvider">
      <renderer
            id="dem.eventHeaderTable"
            tableName="Domain Event Header"
            tableType="dem.eventOverview"
            tableRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            rendererClass="com.mimacom.ddd.dm.dem.tableProvider.DemEventHeaderTableRendererExtensionFactory:com.mimacom.ddd.dm.dem.tableProvider.DemEventHeaderTableRenderer">
      </renderer>
      
      <renderer
            id="dem.eventPreconditionsTable"
            tableName="Domain Event Preconditions"
            tableType="dem.eventOverview"
            tableRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            rendererClass="com.mimacom.ddd.dm.dem.tableProvider.DemEventPreconditionsTableRendererExtensionFactory:com.mimacom.ddd.dm.dem.tableProvider.DemEventPreconditionsTableRenderer">
      </renderer>
      
      <renderer
            id="dem.eventPostconditionsTable"
            tableName="Domain Event Postconditions"
            tableType="dem.eventOverview"
            tableRootClass="com.mimacom.ddd.dm.dem.DemDomainEvent"
            rendererClass="com.mimacom.ddd.dm.dem.tableProvider.DemEventPostconditionsTableRendererExtensionFactory:com.mimacom.ddd.dm.dem.tableProvider.DemEventPostconditionsTableRenderer">
      </renderer>
      
      <tableType
            id="dem.eventOverview"
            name="Domain Event Overview">
      </tableType>
   </extension>
   
</plugin>
