<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dem -->
      <package
            uri="http://www.mimacom.com/ddd/dm/dem"
            class="com.mimacom.ddd.dm.dem.DemPackage"
            genModel="model/dem.genmodel"/>
   </extension>

</plugin>
